<div data-ng-controller="UsersCtrl">
  <div data-ng-hide="existingUser">
    <form name="newUser">
      <label>Email Address</label><br/>
      <input type="text" data-ng-model="newUser.email"><br/>
      <label>New Password</label><br/>
      <input type="password" data-ng-model="newUser.password"><br/>
      <label>Confirm Password</label><br/>
      <input type="password" data-ng-model="newUser.passwordConfirmation"><br/>
      <button data-ng-click="signUp()">Create New User</button>
    </form>
  </div>
  <div data-ng-show="existingUser">
    <form name="userForm">
      <label>Email</label><br/>
      <input type="text" data-ng-model="user.email"><br/>
      <label>Password</label><br/>
      <input type="password" data-ng-model="user.password"><br/>
      <button data-ng-click="signIn()">Sign In</button> 
    </form>
  </div>

  <button data-ng-click="existingUser = !existingUser">{{existingUser ? 'Create New User' : 'Log in to existing account'}}</button> 
</div>